@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&display=swap');

:root {
  --max-width: 1280px;
  --border-radius: 12px;
  --font-playfair: 'Playfair Display', serif;
  --font-raleway: 'Raleway', sans-serif;
  --primary-color: #15440F;
  --secondary-color: #ADAF72;
  --tertiary-color: #CFD427;
  --background-color: #EFEDD8;
  --support-color: #529B38;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
