.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: solid 3px var(--primary-color);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  overflow: hidden; 
  width: 80rem;
  max-height: 44.875rem;
}

.homeImage {
  object-fit: cover;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  width: 100%;
}

.content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.25rem;
}

.contentTitle {
  color: var(--primary-color);
  font-family: var(--font-playfair);
  font-size: 55px;
  font-weight: 700;
}

.contentSubtitle {
  font-family: var(--font-playfair);
  font-size: 35px;
  font-weight: 400;
}

.inputContainer {
  align-items: center;
  background: rgba(173, 175, 114, 0.25);
  border: solid 3px var(--primary-color);
  border-radius: 20px;
  display: flex;
  height: 4.5rem;
  width: 25.3125rem;
}

.input {
  background: transparent;
  border: none;
  color: var(--primary-color);
  font-family: var(--font-playfair);
  font-size: 35px;
  font-weight: 400;
  margin: 1.25rem 0 1.25rem 1.25rem;
  width: 100%;
}

.input:focus {
  outline: none;
}

.inputIcon {
  cursor: pointer;
  margin: 1.25rem;
  width: 2.5rem;
}
